# **Differentiated Thyroid Cancer Recurrence**

## Group 2
### Abogado, Marxel S.
### Surban, Alyssa Nicole J.
### Tan, Jamilene Arianna L.
---

### I. **Pre-processing**

In [3]:
# pre-processing
import pandas as pd

def check_missing_values(df):
    """Check for missing values in the DataFrame."""
    missing = df.isnull().sum()
    print("Missing values per column:\n", missing)
    return missing

def check_duplicates(df):
    """Check for duplicate rows in the DataFrame."""
    duplicates = df.duplicated().sum()
    print(f"Number of duplicate rows: {duplicates}")
    return duplicates

def check_outliers(df):
    """Check for outliers in categorical data by showing value counts."""
    for col in df.columns:
        print(f"\nValue counts for {col}:")
        print(df[col].value_counts())

def create_dummy_variables(df):
    """Create dummy variables for all categorical columns."""
    df_dummies = pd.get_dummies(df, drop_first=True)
    print("Dummy variables created. Shape:", df_dummies.shape)
    return df_dummies

In [4]:
# Load the data
file_path = 'Thyroid_Diff.csv'
df = pd.read_csv(file_path)

In [7]:
# Check for missing_values, duplicates, outliers
df_missing = check_missing_values(df)
df_duplicates = check_duplicates(df)
check_outliers(df)

# Remove rows with missing values
df = df.dropna()

# Remove duplicate rows
df = df.drop_duplicates()

Missing values per column:
 Age                     0
Gender                  0
Smoking                 0
Hx Smoking              0
Hx Radiothreapy         0
Thyroid Function        0
Physical Examination    0
Adenopathy              0
Pathology               0
Focality                0
Risk                    0
T                       0
N                       0
M                       0
Stage                   0
Response                0
Recurred                0
dtype: int64
Number of duplicate rows: 19

Value counts for Age:
Age
31    22
27    13
40    12
26    12
28    12
      ..
79     1
18     1
69     1
76     1
78     1
Name: count, Length: 65, dtype: int64

Value counts for Gender:
Gender
F    312
M     71
Name: count, dtype: int64

Value counts for Smoking:
Smoking
No     334
Yes     49
Name: count, dtype: int64

Value counts for Hx Smoking:
Hx Smoking
No     355
Yes     28
Name: count, dtype: int64

Value counts for Hx Radiothreapy:
Hx Radiothreapy
No     376
Yes      7
Name: count, dtype: int64

Value counts for Thyroid Function:
Thyroid Function
Euthyroid                      332
Clinical Hyperthyroidism        20
Subclinical Hypothyroidism      14
Clinical Hypothyroidism         12
Subclinical Hyperthyroidism      5
Name: count, dtype: int64

Value counts for Physical Examination:
Physical Examination
Multinodular goiter            140
Single nodular goiter-right    140
Single nodular goiter-left      89
Normal                           7
Diffuse goiter                   7
Name: count, dtype: int64

Value counts for Adenopathy:
Adenopathy
No           277
Right         48
Bilateral     32
Left          17
Extensive      7
Posterior      2
Name: count, dtype: int64

Value counts for Pathology:
Pathology
Papillary         287
Micropapillary     48
Follicular         28
Hurthel cell       20
Name: count, dtype: int64

Value counts for Focality:
Focality
Uni-Focal      247
Multi-Focal    136
Name: count, dtype: int64

Value counts for Risk:
Risk
Low             249
Intermediate    102
High             32
Name: count, dtype: int64

Value counts for T:
T
T2     151
T3a     96
T1a     49
T1b     43
T4a     20
T3b     16
T4b      8
Name: count, dtype: int64

Value counts for N:
N
N0     268
N1b     93
N1a     22
Name: count, dtype: int64

Value counts for M:
M
M0    365
M1     18
Name: count, dtype: int64

Value counts for Stage:
Stage
I      333
II      32
IVB     11
III      4
IVA      3
Name: count, dtype: int64

Value counts for Response:
Response
Excellent                 208
Structural Incomplete      91
Indeterminate              61
Biochemical Incomplete     23
Name: count, dtype: int64

Value counts for Recurred:
Recurred
No     275
Yes    108
Name: count, dtype: int64

In [9]:

# Create dummy variables for categorical variables
df_dummies = create_dummy_variables(df)

df_dummies.head()

Dummy variables created. Shape: (364, 41)

,Age,Gender_M,Smoking_Yes,Hx Smoking_Yes,Hx Radiothreapy_Yes,Thyroid Function_Clinical Hypothyroidism,Thyroid Function_Euthyroid,Thyroid Function_Subclinical Hyperthyroidism,Thyroid Function_Subclinical Hypothyroidism,Physical Examination_Multinodular goiter,...,N_N1b,M_M1,Stage_II,Stage_III,Stage_IVA,Stage_IVB,Response_Excellent,Response_Indeterminate,Response_Structural Incomplete,Recurred_Yes
0,27,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,34,False,False,True,False,False,True,False,False,True,...,False,False,False,False,False,False,True,False,False,False
2,30,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,62,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,62,False,False,False,False,False,True,False,False,True,...,False,False,False,False,False,False,True,False,False,False

### II. **Feature selection**

In [ ]:
# feature selection

### III. **Model fitting**

In [ ]:
# model fitting

'''
potential machine learning models:
- random forest
- xgboost
- adaboost
- (other gradient boosting)
- naive bayes
- logistic regression
- more for classification
'''

### IV. **Model evaluation**

In [ ]:
# model evaluation

'''
classification metrics:
- accuracy
- recall
- specificity
- precision
- f1 score 

'''

### V. **Explainable AI**

In [ ]:
# use shap and lime

# feature importance plot
# prediction probabilities